/* CSS declarations go here */
html{
	width: 100%;
	height: 100%;
}

body{
	background:#333;
	color:#C5F012;
	font-family: "Trebuchet MS";
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}

h1{
	margin:0;
	font-size:24pt;
}

h2{
	margin:0;
	font-size:10pt;
}

#logo{
	position: absolute;
	top: 30px;
	left: 30px;
	cursor: pointer;
	-webkit-user-select: none;
    -moz-user-select: none; 
    -khtml-user-select: none;
}

#canvas{
	width: 100%;
	height: 100%;
}

#canvas input{
	position: absolute;
	background: transparent;
	border: 0;
	margin: 0;
	padding: 0;
	font-size: 48px;
	color:#C5F012;
}

#import{
	padding: 100px 30px;
}

#import textarea{
	display: block;
	width: 500px;
	height: 300px;
}

#shapes{
	width: 100%;
	overflow: hidden;
}

#shapes div{
	float: left;
	width: 23.75%;
	height: 500px;
	margin: 1% 0 0 1%;
	overflow: hidden;
	
}

#shapes div svg{
	
}

